/* @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
  @apply text-base cursor-default;
  font-family: "Montserrat", serif;
  background-color: inherit;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none; /* Optional, removes underline */
}

body.index{
  color:#222222 !important; 
  background-color: #ece7e1 !important;

}
body.work{
  background-color: #222222 !important;
  color: #ece7e1 !important;
}

body.contact{
  background-color:#222222 !important; 
  color: #ece7e1 !important;
}

body.articles{
  background-color:#222222 !important ;
  color:#ece7e1 !important;
}

body.about{
  color:#222222 !important; 
  background-color: #ece7e1 !important;
}

@font-face {
  font-family: "GrandSlang-Roman";
  src: url('/GrandSlang-Roman.ttf') format('truetype');
}
@font-face {
  font-family: "Montserrat",serif;
  src: url('/public/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Montserrat",serif;
  src: url('/public/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: "Montserrat",serif;
  src: url('/public/Montserrat-Italic.ttf') format('truetype');
}
@font-face {
  font-family: "Montserrat",serif;
  src: url('/public/Montserrat-Bold.ttf') format('truetype');
}


.font-grandslang {
  font-family: "GrandSlang-Roman", cursive;
}

.font-montserrat{
  font-family: "Montserrat", serif;
}

.font-cardo{
  font-family: "DM Sans", serif;
}

button {
  @apply cursor-default;
}

@layer components {
  /* TODO: remove dependants*/
  .btn {
    @apply px-3 py-2 bg-black hover:bg-gray-800 active:bg-gray-600 text-white;
  }
}


@layer utilities{
  .no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
}
